html {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #f2f2f2;
}

.masthead {
  background-color: #050505;
  background-size: 64px auto;
}

.banner {
  background-color:#1c1c1c;
  background-size: cover;
  background-position: center bottom;
  border-bottom: 3px solid #f2f2f2;
}

.banner-content {
  color: #fff;
  padding-top: 40px;
  padding-bottom: 50px;
}

small {
  color: white;
}

.footer {
  background-color: #050505;
  color: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 60em) {

img {
  width: 75%;
  opacity: 100;
}

.img-flex {
  display: block;
  width: 100%;
}

.card {
  overflow: hidden;
}

.contact {
  text-decoration: none;
}


a {
  text-decoration: none;
}
